.occupation {
  margin-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 0;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.perfomance {
  display: flex;
  gap: 30px;
}

.perfomance__list {
  position: relative;
}

.perfomance__text {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  bottom: 0;

  font-weight: 700;
  line-height: 1.14px;
  text-transform: uppercase;

  color: map-get($colors, white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
