.navigation-header__list-block {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.navigation-header__list {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.navigation-header__page {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  transition: color 250ms map-get($cubic, cubic);
  color: map-get($colors, primary-text-color);

  &:hover,
  &:focus {
    color: map-get($colors, main-blue-color);
  }

  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    padding-bottom: 33px;
    padding-top: 33px;

    font-size: 14px;
    line-height: 1.14;

    &::after {
      content: "";

      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;

      border-radius: 2px;

      background-color: map-get($colors, main-blue-color);
      transition: transform 250ms map-get($cubic, cubic);
      transform: scaleX(0);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
  @media screen and (min-width: 1200px) {
    display: block;
    position: relative;
    padding-bottom: 33px;
    padding-top: 33px;

    font-size: 14px;
    line-height: 1.14;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;

      border-radius: 2px;

      background-color: map-get($colors, main-blue-color);
      transition: transform 250ms map-get($cubic, cubic);
      transform: scaleX(0);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.navigation-header__page--current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: map-get($colors, main-blue-color);

  @media screen and (min-width: 768px) {
    position: relative;

    padding-bottom: 33px;
    padding-top: 33px;

    font-size: 14px;
    line-height: 1.14;

    &::after {
      content: "";

      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;

      background-color: map-get($colors, main-blue-color);
      border-radius: 2px;

      transition: transform 250ms map-get($cubic, cubic);
      transform: scaleX(1);
    }
  }
  @media screen and (min-width: 1200px) {
    position: relative;

    padding-bottom: 33px;
    padding-top: 33px;

    &::after {
      content: "";

      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;

      background-color: map-get($colors, main-blue-color);
      border-radius: 2px;

      transition: transform 250ms map-get($cubic, cubic);
      transform: scaleX(1);
    }
  }
}
