.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms map-get($cubic, cubic);
}

.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;

  background: map-get($colors, white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms map-get($cubic, cubic);

  &:hover,
  &:focus {
    fill: map-get($colors, main-blue-color);
  }
}

.form__head {
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  & input:focus,
  & input:hover {
    border-color: map-get($colors, main-blue-color);
  }
}

.form__field input {
  width: 370px;
  height: 40px;
  padding-left: 42px;

  outline: transparent;
  cursor: pointer;
  border-radius: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms map-get($cubic, cubic);
}

.form__label {
  padding-bottom: 4px;
  color: map-get($colors, secondary-text-color);
}

.field-name-svg {
  position: absolute;
  top: 32px;
  left: 12px;
  fill: var(--web-color);
  transition: fill 250ms map-get($cubic, cubic);

  &:hover {
    fill: map-get($colors, main-blue-color);
  }
}

textarea {
  padding-left: 10px;
  padding-top: 10px;
  width: 370px;
  height: 120px;

  border-radius: 4px;
  resize: none;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms map-get($cubic, cubic);

  &:hover,
  &:focus {
    cursor: pointer;
    border-color: map-get($colors, main-blue-color);
  }
}

input:focus {
  border-radius: 4px;
  border: 1px solid #2196f3;
}

input:focus + .field-name-svg,
input:hover + .field-name-svg {
  fill: map-get($colors, button-hover);
}
